<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @article.date %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

# to add an image in background : https://kitt.lewagon.com/karr/karr.kitt/lectures/rails/hosting-image-upload-active-storage-6/index.html?title=Hosting+%26+Image+Upload&program_id=1#/5/6