<div class="contact-container">
  <div class="contact-info">
    <h1 class="zi10">Contact</h1>
    <div id="underliner-contact"></div>

    <div class="contact-info-phone">
      <p>Tel : <%= phone_link %></p>
      <% unless @contact_info.fax.blank? %>
        <p>Fax : <%= @contact_info.fax %></p>
      <% end %>
    </div>

    <p><%= email_link %></p>

    <p>Réception sur RDV uniquement</p>

    <div class="contact-info-address">
      <p><%= @contact_info.street_number %> <%= @contact_info.street_name %></p>
      <p><%= @contact_info.zip_code %> <%= @contact_info.city %></p>
    </div>

    <%= render 'components/call-to-action' %>
  </div>

  <% cache ['contact_map_iframe', @contact_info.google_map_url] do %>
    <iframe src="<%= @contact_info.google_map_url %>"
            width="350" height="540"
            frameborder="0" style="border:1px solid #CCCCCC; border-radius: 5px;"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0">
    </iframe>
  <% end %>
</div>
