<h1>Domaines D'Expertise</h1>
<div class="domains-container">
  <div class="domain-card-left">
    <div class="domain-info">
      <h3>Droit des étrangers</h3>
      <ul>
        <li>Demande de titre de séjour auprès de la Préfecture</li>
        <li>Obtention de Visa</li>
        <li>Procédure de regroupement familial</li>
        <li>Demande de naturalisation</li>
        <li>Obligation de quitter le territoire</li>
        <li>Interdiction de retour sur le territoire</li>
      </ul>
      <%= link_to 'Nous contacter', '#' %>
    </div>
    <%= image_tag 'SpritesPrestations.png' %>
  </div>
  <div class="domain-card-right">
    <div class="domain-info">
      <h3>Droit de la famille</h3>
      <ul>
        <li>Divorce contentieux</li>
        <li>Divorce accepté</li>
        <li>Divorce par consentement mutuel</li>
      </ul>
      <%= link_to 'Nous contacter', '#' %>
    </div>
    <%= image_tag 'SpritesPrestations.png' %>
  </div>
  <div class="domain-card-left">
    <div class="domain-info">
      <h3>Droit administratif</h3>
      <ul>
        <li>Recours contre des décisions administratives</li>
        <li>Recours administratif préalable obligatoire (RAPO)</li>
        <li>Saisine de la Commission d’accès aux documents administratifs (CADA)</li>
        <li>Engagement de la responsabilité d’une personne publique</li>
        <li>Référé liberté</li>
        <li>Référé suspension</li>
      </ul>
      <%= link_to 'Nous contacter', '#' %>
    </div>
    <%= image_tag 'SpritesPrestations.png' %>
  </div>
  <div class="domain-card-right">
    <div class="domain-info">
      <h3>Droit des personnes</h3>
      <ul>
        <li>Responsabilité civile</li>
        <li>Droit pénal</li>
        <li>Propriété intellectuelle</li>
        <li>Rédaction de contrat</li>
      </ul>
      <%= link_to 'Nous contacter', '#' %>
    </div>
    <%= image_tag 'SpritesPrestations.png' %>
  </div>
</div>
