<%# ---------------BANNER---------------  %>

<div class="banner">
  <div class="site-title">
    <h1>Avocate à la Cour</h1>
    <h2>Barreau de Paris</h2>
  </div>
  <div id="underliner-avocate-home"></div>
  <div id="underliner-paris-home"></div>

  <div class="hero-section">
    <%= image_tag 'yuma-avatar.png', alt: 'photo de Yuma Funeau' %>
    <div class="social-links">
      <%= link_to '#' do %>
        <i class="fab fa-facebook-square"></i>
      <% end %>
      <%= link_to '#' do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
    </div>
  </div>
  <%= render "components/call-to-action" %>

  <div class="tags-main-container">
    <%= react_component("Tags") %>
  </div>

</div>

<%# ---------------PRESENTATION---------------  %>

<div class="presentation">
  <div class="presentation-info">
    <h2>Présentation :</h2>
    <p>
      Après des études de droit à l'Université de Nice Sophia Antipolis, Maître Fruneau a obtenu un Master 2 Droit et gestion publique de l'université Paris 1 Panthéon Sorbonne.
    </p>
    <p>
      Diplômée de l'EFB (Ecole de Formation du Barreau), elle prête serment auprès du Barreau de Paris et décide d'ouvrir son propre cabinet.
    </p>
    <p>
      Maître Fruneau vous accueille du lundi au samedi dans son cabinet, uniquement sur rendez-vous.
    </p>
    <div class="presentation-langages">
      <h3>Langues parlées :</h3>
      <br>
      <div class="presentation-langages-list">
        <p>Français</p>
        <p>Anglais</p>
        <p>Italien</p>
        <p>Japonais</p>
      </div>
    </div>
  </div>
  <%= image_tag 'balance_justice.png', alt: 'Photo Balance de la justice' %>
</div>

<%# ---------------CAROUSEL---------------  %>

<div class="prestation-section">

  <div class="carousel">
    <h2>Les Prestations</h2>

    <%= react_component("Carousel") %>
  </div>

  <div id="underliner-prestations-home"></div>

</div>
