<div id="form-main">
  <div id="form-div">
    <div class="form" id="form1">

      <h2>Contactez-nous :</h2>
      
      <%= simple_form_for contact do |f| %>
        <%= f.input :name, label: false, placeholder: 'Votre nom', input_html: { class: 'feedback-input' } %>
        <%= f.input :email, label: false, placeholder: 'Votre e-mail', input_html: { class: 'feedback-input' } %>
        <%= f.input :body, label: false, placeholder: 'Votre message', as: :text, :input_html => { :cols => 6, :rows => 300, class: 'feedback-input' } %>
        <%= f.submit 'ENVOYER', class: 'button-blue', id: 'sending-btn' %>
      <% end %>

    </div>
  </div>
</div>
