<div id="form-main" data-controller="contact-form" data-contact-form-target="form">
  <div id="form-div" data-contact-form-target="overlay" data-contact-form-target="content" data-action="click->contact-form#close">
    <div class="form" id="form1">

      <h2 class="zi500">Contactez-nous :</h2>
      <div id="underliner-contact-form"></div>
      <%= simple_form_for contact, data: { turbo_frame: "_top" } do |f| %>
        <%= f.input :name, label: false, placeholder: 'Votre nom*', input_html: { class: 'feedback-input' } %>
        <%= f.input :email, label: false, placeholder: 'Votre e-mail*', input_html: { class: 'feedback-input' } %>
        <%= f.input :body, label: false, placeholder: 'Votre message*', as: :text, :input_html => { :cols => 6, :rows => 300, class: 'feedback-input' } %>
        <% if Recaptcha.configuration.site_key.present? %>
          <div class="recaptcha-tags">
            <%= recaptcha_tags %>
          </div>
        <% end %>
        <%= f.submit 'ENVOYER', class: 'button-blue', id: 'sending-btn', data: { action: "turbo:submit-end->contact-form#messageSent" } %>
      <% end %>

    </div>
  </div>
</div>
