<!DOCTYPE html>
<html>
  <head>
    <title>Yuma Fruneau | Avocate |</title>
    <%# Security : %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Favicon : %>
    <%= favicon_link_tag 'favicon.ico' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%# SCSS & JS Links : %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%# render 'contacts/contact-form', contact: @contact = Contact.new %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%# react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
    <% if action_name === 'home' %>
      <div class="home-container">
        <%= yield %>
      </div>
    <% else %>
      <div class="pages-container">
        <%= yield %>
      </div>
    <% end %>
    <% unless action_name == 'new' %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
