<!DOCTYPE html>
<html>
  <head>
    <title>Yuma Fruneau | Avocate |</title>
    <%# Security : %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Favicon : %>
    <%= favicon_link_tag 'favicon.ico' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Maître Fruneau intervient en droit des étrangers (recours OQTF, demande de titre de séjour, naturalisation, regroupement familial), en droit de la famille (divorce contentieux, consentement mutuel), en droit de la sécurité sociale (contentieux CPAM), en droit pénal (garde à vue, comparution immédiate, CRPC) et en droit public (droit pénitentiaire, contestation de décisions administratives).
Le cabinet se situe 24 boulevard de Sébastopol à Paris, et est ouvert du lundi au samedi sur rendez vous.
Langues parlées : français, anglais, italien">
    <%# SCSS & JS Links : %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%# Google Recaptcha cdn %>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>

  <body>
    <%= render 'contacts/contact-form', contact: @contact = Contact.new %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%# react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
    <% if action_name === 'home' %>
      <div class="home-container">
        <%= yield %>
      </div>
    <% else %>
      <div class="pages-container">
        <%= yield %>
      </div>
    <% end %>
    <% unless action_name == 'new' %>
      <%= render 'shared/footer' %>
      <%= render 'shared/footer-mobile' %>
    <% end %>
  </body>
</html>
